.tc-content {
  min-height: 100vh;
  overflow-y: auto;
  height: 100vh;
  margin-top: calc(var(--main-header-height) + var(--lg-space));
}

.tc-content-wrap {
  flex: 1;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.tc-content__inner__write-tweet {
  width: 100%;
  display: flex;
  border-bottom: solid 1px var(--border-color);
}

.tc-content__inner__write-tweet__img {
  margin: 0 var(--lg-space) var(--sm-space) var(--md-space);
}

.tc-content__inner__write-tweet__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tc-content__inner__write-tweet__content-input-area {
  display: flex;
  flex-direction: column;
  padding: var(--sm-space) 0;
  border-bottom: solid 1px var(--border-color);
}

.tc-content__inner__write-tweet__content-types {
  display: flex;
  justify-content: space-between;
  padding: var(--md-space) 0;
}

.tc-content__inner__write-tweet__content-types img {
  height: calc(var(--lg-space) - 4px);
  width: calc(var(--lg-space) - 4px);
  color: var(--primary-color);
}

.tc-content__inner__write-tweet__content-types img:not(.tc-location-icon) {
  padding-right: calc(var(--md-space) - 2px);
}

.tc-content__inner__write-tweet__content-types__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tc-content__inner__write-tweet__content-input input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--sm-space) 0;
  position: relative;
  max-width: 100%;
  color: var(--main-color);
  border: none;
  font-size: 1.2rem;
}

.btn-ghost {
  margin-left: -16px;
}

.tc-content__inner__write-tweet__content__tweet-btn {
  margin-right: var(--md-space);
}

.img-global {
  margin-right: var(--xs-space);
}