.tc-content {
  min-height: 100vh;
  overflow-y: auto;
  height: 100vh;
  width: calc(100% - (var(--left-sidebar-space) + var(--right-sidebar-space)));
  margin-top: var(--main-header-height);
}

.tc-content__inner {
  padding: 100px 0;
}
