.tc-content__main-header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.tc-content__main-header__main {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sm-space) 0;
  color: var(--main-color);
}

.tc-content__main-header__icon:hover {
  background: var(--border-color);
  border-radius: 40px;
  transition: background 0.2s ease-in;
}