.tc-content__main-header {
  width: 100%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.tc-content__main-header__main {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sm-space) var(--md-space);
  color: var(--main-color);
  height: var(--main-header-height);
  background-color: var(--white-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.tc-content__main-header__main__btn {
  background-color: var(--white-color);
  height: 38px;
  width: 38px;
}

.tc-content__main-header__main__btn:hover {
  background: var(--border-color);
  border-radius: 999px;
  transition: background 0.2s ease-in;
  transform: scale(1);
}

.tc-content__main-header__main__btn-icon {
  height: 24px;
  width: 24px;
}