.tc-wrap .tc-left-sidebar {
  width: var(--left-sidebar-space);
  border-right: 1px solid var(--border-color);
}

.tc-left-sidebar-inner {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--md-space) var(--xl-space);
}

.tc-left-sidebar-main-nav__logo-container {
  display: block;
  width: fit-content;
  height: fit-content;
}

.tc-left-sidebar-main-nav__logo-container img {
  width: var(--lg-space);
  height: var(--lg-space);
  object-fit: cover;
  padding: var(--sm-space);
  border-radius: 50%;
  transition: background 0.2s linear;
}

.tc-left-sidebar-main-nav__logo-container:hover img {
  background-color: var(--primary-hover-logo);
}

.tc-left-sidebar-main-nav__list > li:not(:last-child) {
  margin-bottom: var(--xs-space);
}

.tc-left-sidebar-main-nav__nav-link {
  padding: var(--sm-space);
  display: inline-flex;
  align-items: center;
  align-content: center;
}

.tc-left-sidebar-main-nav__nav-link span {
  display: block;
}

.tc-left-sidebar-main-nav__nav-link__icon img {
  width: calc(var(--lg-space) + 2px);
  height: calc(var(--lg-space) + 2px);
}

.tc-left-sidebar-main-nav__nav-link__text {
  margin-left: var(--md-space);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}

.nav-link__active :last-child {
  font-weight: 700;
}

.tc-left-sidebar-main-nav__nav-link:hover {
  background: var(--border-color);
  border-radius: 40px;
  transition: background 0.2s ease-in;
}

.tc-left-sidebar-user-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--xl-space);
}

.tc-left-sidebar-user-area__profile {
  display: flex;
}

.tc-left-sidebar-user-area__profile-img {
  width: var(--xxl-space);
  height: var(--xxl-space);
  border-radius: 999px;
  background-color: var(--extra-light);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.tc-left-sidebar-user-area__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tc-left-sidebar-user-area__profile-account {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: var(--md-space);
}

.tc-left-sidebar-user-area__profile-account p {
  line-height: 0;
  font-size: 0.75rem;
}

.tc-left-sidebar-user-area__profile-account :first-child {
  margin-bottom: -var(--md-space);
  font-weight: 600;
}
