.tc-wrap .tc-right-sidebar {
  width: var(--right-sidebar-space);
  overflow: auto;
  padding: var(--md-space) var(--md-space);
}

.tc-right-sidebar-inner {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: capitalize;
  margin-bottom: 100px;
}

.tc-right-sidebar-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--extra-light);
  border-radius: 999px;
  padding: var(--sm-space) 0;
  font-size: 0.8rem;
  position: relative;
  max-width: 100%;
  color: var(--main-color);
}

.tc-right-sidebar-search__text-input {
  border: none;
  background-color: var(--extra-light);
  text-transform: capitalize;
  position: absolute;
  height: 100%;
  max-width: 100%;
  width: 100%;
  border-radius: inherit;
  padding-left: var(--x3-space);
  z-index: 1;
}

.tc-right-sidebar-search__text-input::placeholder {
  color: var(--main-color);
  font-weight: 500;
}

.tc-right-sidebar-search__icon {
  margin: 0 var(--md-space);
  z-index: 2;
}

.tc-right-sidebar-search__text-input:focus {
  outline: none;
}

.tc-right-sidebar-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--extra-extra-light);
  border-radius: var(--md-space);
  margin: var(--md-space) 0 0 0;
}

.tc-right-sidebar-block__title {
  font-weight: 800;
  font-size: 1.2rem;
  margin: var(--md-space) 0 0 var(--md-space);
}

.tc-right-sidebar-block__list {
  width: 100%;
}

.tc-right-sidebar-block__list-item {
  font-size: 0.8rem;
  margin: var(--md-space) 0;
  padding: var(--md-space);
  max-width: 100%;
  overflow: hidden;
}

.tc-right-sidebar-block__list-item:hover {
  background-color: var(--extra-light);
  cursor: pointer;
}

.tc-right-sidebar-block__list-item__more {
  margin-bottom: 0;
  border-bottom-left-radius: var(--md-space);
  border-bottom-right-radius: var(--md-space);
}

.tc-right-sidebar-block__list-item__more a {
  color: var(--primary-color);
  display: block;
  padding: var(--md-space) var(--md-space);
}

.tc-right-sidebar-block__list-trend,
.tc-right-sidebar-block__list-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tc-right-sidebar-block__list-trend img {
  margin-top: -(var(--xs-space));
}

.tc-right-sidebar-block__list-trend-type {
  margin: 0 0;
}

.tc-right-sidebar-block__list-trend-title {
  font-weight: bold;
  font-size: 0.9rem;
  margin: var(--xs-space) 0;
}

.tc-right-sidebar-block__list__profile {
  display: flex;
  justify-content: start;
  align-items: start;
}

.tc-right-sidebar-block__list__profile-img {
  background-color: var(--extra-light);
  border-radius: 999px;
  width: 50px;
  height: 50px;
}

.tc-right-sidebar-block__list__profile-name {
  display: flex;
  flex-direction: column;
  margin-left: var(--md-space);
}

.tc-right-sidebar-block__list__profile-name p {
  line-height: 0;
  font-size: 0.8rem;
}

.tc-right-sidebar-block__list__profile-name :first-child {
  font-weight: bold;
}

.tc-right-sidebar-block__list__profile-name :last-child {
  margin-top: var(--sm-space);
}